@use '../headwind' as *;

@include responsive using ($args...) {
  $options: (
    'px': 1px,
    '0': 0,
    '1': .25rem,
    '2': .5rem,
    '3': .75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '8': 2rem,
    '10': 2.5rem,
    '12': 3rem,
    '16': 4rem,
    '20': 5rem,
    '24': 6rem,
    '32': 8rem,
    '40': 10rem,
    '48': 12rem,
    '56': 14rem,
    '64': 16rem,
  );

  .p {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding: $value;
      }
    }
  }

  .px {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding-right: $value;
        padding-left: $value;
      }
    }
  }

  .py {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding-bottom: $value;
        padding-top: $value;
      }
    }
  }

  .pt {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding-top: $value;
      }
    }
  }

  .pr {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding-right: $value;
      }
    }
  }

  .pb {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding-bottom: $value;
      }
    }
  }

  .pl {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        padding-left: $value;
      }
    }
  }

  $options: (
    'auto': auto,
    'px': 1px,
    '0': 0,
    '1': .25rem,
    '2': .5rem,
    '3': .75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '8': 2rem,
    '10': 2.5rem,
    '12': 3rem,
    '16': 4rem,
    '20': 5rem,
    '24': 6rem,
    '32': 8rem,
    '40': 10rem,
    '48': 12rem,
    '56': 14rem,
    '64': 16rem,
  );

  .m {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin: $value;
      }
    }
  }

  .mx {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-right: $value;
        margin-left: $value;
      }
    }
  }

  .my {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-bottom: $value;
        margin-top: $value;
      }
    }
  }

  .mt {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-top: $value;
      }
    }
  }

  .mr {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-right: $value;
      }
    }
  }

  .mb {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-bottom: $value;
      }
    }
  }

  .ml {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-left: $value;
      }
    }
  }

  .-m {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin: -$value;
      }
    }
  }

  .-mx {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-right: -$value;
        margin-left: -$value;
      }
    }
  }

  .-my {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-bottom: -$value;
        margin-top: -$value;
      }
    }
  }

  .-mt {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-top: -$value;
      }
    }
  }

  .-mr {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-right: -$value;
      }
    }
  }

  .-mb {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-bottom: -$value;
      }
    }
  }

  .-ml {
    @include variants($options, $args...) using ($key, $value) {
      &-#{$key} {
        margin-left: -$value;
      }
    }
  }
}
